/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit
}
ul, ol, li{
    list-style: none;
}
/*Fim RESET*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    width: 80px;
    background-color: lightgray;
}
.menu ul{
    display: flex;
    gap: 32px;
}
main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    font-size: 40px;
    width: 90%;
}
.acao button{
    height: 110px;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 48px;
}
.social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: lightgray;
}
.imagem{
    height: 100%;
    width: 50%;
    background-color: lightgray;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
